.button-logout{
    margin: 10px;
    float: right;
}

.height-limit{
    height: 85vh !important;
}

.container {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fddfd8;
    padding: 15px 33px 15px 33px;
}

.header > img {
    height: 60px;
}