.content-login > img {
    max-width: 80%;
    margin: 30px 0 30px 0px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    align-items: center;
}

.content-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 492px;
    background-color: #FFE7BD;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.43);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.43);
}